#banner {
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;  
    height: 540px;
    background-image: url('https://image.freepik.com/free-photo/group-portrait-adorable-puppies_53876-64778.jpg');    
    min-width: fit-content;
 
}

#conteudo-banner {
    display: flexbox;
    align-items: center;
    
}



h1 , p{
    margin: 0px 0px 0px 20px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
}

#h-banner {
    margin:  0px 0px 0px 20px;;
}

.buton-banner {
    display: flexbox;
    margin: 20px;
    margin-right: 10PX;
    padding: 10px 20PX;
    width: 10%;
    border: none;
    background-color: rgb(0, 0, 0, .50);
    color: white;
    font-family: 'arial';
    cursor: pointer;
    transition: .3s ease all;
}

.buton-banner:hover {
    background-color: black;
    color:white;
}